.nav {
    display: flex;
    flex-direction: row;
}

.nav__ul {
    margin: 45px 0px 0px 0px;
}
.nav__ul__items {
    display: inline-flex;
    margin: 0px 0px 0px 30px;
}

.nav__ul__items:first-child {
    margin: 0px 0px 0px 200px;
}

@media all and (max-width: 1300px) and (min-width: 1000px) {
    .nav__ul__items:first-child {
        margin: 0px 0px 0px 100px;
    }
}

@media all and (max-width: 1000px) and (min-width: 800px) {
    .nav__ul__items:first-child {
        margin: 0px 0px 0px 20px;
    }
    .nav__ul__items {
        margin: 0px 0px 0px 15px;
    }
}

@media all and (max-width: 799px) {
    .nav {
        display: none;
    }
}