.info__card {
  text-align: center;
  width: 400px;
  padding: 120px 10px;
  transition-duration: .35s;
}

.info__card:nth-of-type(2n + 1) {
  background-color: lightgrey;
}

.info__card:hover {
  background-color: #1c35d8;
}

.card__title__h3 {
  font-family: 'Overpass', sans-serif;
  font-size: 22px;
  margin: 0px 0px 20px 0px;
  transform: translateY(50px);
  transition-duration: .35s;
}

.info__card:hover .card__title__h3 {
  transform: translateY(0px);
  transform: scale(1.2, 1.2);
}

.info__card:hover .card__title__paragraph {
  transform: translateY(0px);
  transform: scale(1.2, 1.2);
}

.card__title__paragraph {
  font-family: 'Roboto', sans-serif;
  font-style: inherit;
  font-size: 16px;
  width: 319px;
  margin: 0 auto;
  transform: translateY(50px);
  transition-duration: .35s;
}

.serviceIcons {
  display: inline;
  width: 58px;
  height: 58px;
  transition-duration: .35s;
  transform: translateY(30px);
}

.info__card:hover .serviceIcons {
  transform: translateY(0px);
}

@media all and (max-width: 1300px) and (min-width: 800px) {
  .info__card {
    width: 100%;
    box-sizing: border-box;
  }
}

@media all and (max-width: 799px) {
  .card__title__paragraph {
    width: 200px;
  }
  .info__card {
    width: 280px;
    padding: 60px 0px;
    margin: 0 auto;
  }
  .info__card:hover .card__title__h3 {
    transform: scale(1.1, 1.1);
  }
  
  .info__card:hover .card__title__paragraph {
    transform: scale(1.1, 1.1);
  }
}