.project__details {
  padding: 0px 0px 0px 50px;
}

.details_hr {
  width: 30px;
  margin: 0px 0px 60px 0px;
}

.details__h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  color: #1c35d8;
  line-height: 1;
  margin: 0px 0px 40px 0px;
}

.details__date {
  border-bottom: 1px solid lightgray;
  margin: 0px 0px 40px 0px;
}

.details__h3 {
  font-size: 18px;
}

.date__text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #747474;
  margin: 0px 0px 5px 0px;
}

.category__text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #747474;
  margin: 0px 0px 40px 0px;
}

.details__btn {
  width: 190px;
  height: 50px;
  border: 2px solid #1c35d8;
  background-color: #fff;
  border-radius: 2px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-weight: 700;
  z-index: 0;
}

.details__btn a {
  color: #000;
}

.details__btn:hover a {
  color: #fff;
}

.details__btn span {
  z-index: 2;
}

.details__btn:hover .btn-back-hover {
  background-color: #1c35d8;
}

.details__btn:hover {
  color: #fff;
}

@media all and (max-width: 1300px) {
  .project__details {
    margin: 50px 0px 100px 0px;
  }
}