.testimonials__box {
  font-family: 'Overpass', sans-serif;
  position: relative;
  width: 100%;
  min-height: 734px;
  color: #fff;
  text-align: center;
  background-image: url('../../img/mobile-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  margin: 0px 0px 100px 0px;
}

.testimonials__opacity {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 734px;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

.testimonials__content {
  z-index: 1;
  max-width: 800px;
  margin: 0 auto;
  padding: 120px 0px 0px 0px;
}

.testimonials__title__h2 {
  font-size: 50px;
  margin: 0px 0px 100px 0px;
}
